<style>
    .lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}

.lbl:active:after { transform: scale(1.15, 0.85); }

.cbx:checked ~ label { background: #6fbeb5; }

.cbx:checked ~ label:after {
  left: 20px;
  background: #179588;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after { background: #bcbdbc; }

.container {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.demo { margin-bottom: 40px; }

.hidden { display: none; }
</style>

<section class="content-header" data-ng-init="getAllUsers()">
    <h1>
        Users
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;" ui-sref="dashboard">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">manage users</li>
    </ol>
</section>

<section>
    <div class="col-sm-6 col-xs-6 pull-right" id="alert"></div>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Users</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" data-ng-model="tableSearch" name="table_search" class="form-control pull-right"
                                placeholder="Search">

                            <!--<div class="input-group-btn">-->
                            <!--<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>S/N</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>No of Referrals</th>
                            <th>Enable Auto-withdraw</th>
                            <!--<th>Total Deposits</th>-->
                            <!--<th>Total Withdrawals</th>-->
                            <!--<th>Profit</th>-->
                            <th>Actions</th>
                        </tr>
                        <tr data-ng-repeat="user in users | filter : tableSearch">
                            <td>
                                <span data-ng-bind="$index + 1"></span>
                            </td>
                            <td>
                                <span data-ng-bind="user.full_name"></span>
                            </td>
                            <td>
                                <span data-ng-bind="user.email"></span>
                            </td>
                            <td>
                                <span data-ng-bind="user.referrals"></span>
                            </td>
                            <td id="autw<%$index%>">
                            </td>
                            <!--<td><span data-ng-bind="user.totalDeposits"></span></td>-->
                            <!--<td><span data-ng-bind="user.totalWithdrawals"></span></td>-->
                            <!--<td><span data-ng-bind="user.totalProfit"></span></td>-->
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" data-ng-click="showPaymentModal(user)">Pay
                                    User &nbsp;
                                    <i class="fa fa-money"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-info" data-ng-click="editUser(user)">Edit
                                    User &nbsp;
                                    <i class="fa fa-circle-o"></i>
                                </button>
                                <button type="button" data-ng-click="deleteUser(user.id)" class="btn btn-sm btn-danger">Delete
                                    &nbsp;
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->

<div class="example-modal">
    <div class="modal" id="payModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Pay Modal</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="margin: auto;padding-top: 4px;">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="amount" class="control-label">Amount</label>
                                <input type="number" id="amount" data-ng-model="payment.amount" class="form-control"
                                    required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary pull-right" data-ng-click="generateWithdrawalURL()">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div class="example-modal">
    <div class="modal" id="roleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body">
                    <ul class="todo-list">
                        <li>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    Full Name
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" data-ng-model="user.full_name">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    Email
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" data-ng-model="user.email">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    Current Role
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <span class="badge badge-info" data-ng-bind="user.roleName"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    Role
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <select class="form-control" data-ng-model="user.role" data-ng-selected="role.name == user.roleName">
                                        <!--data-ng-change="changeRole()">-->
                                        <option value="<% role.id %>" data-ng-repeat="role in roles">
                                            <% role.name %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary pull-right" data-ng-click="updateUser()">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>